.carusel {
    overflow: auto;
    overflow-y: hidden;
  }
  
  .carusel__container {
    background: #302f2f;
    padding: 0px;
    white-space: nowrap;
    overflow: auto;
    overflow-y: hidden;
  }